body {
    background-image: url('images/manCityLogo2.jpg');
    background-size: cover;
    background-position: center;
  
    display: flex;
    justify-content: center;
    align-items: center;
    color: blue;
  }
  
  section {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    width: 50%;
    border-radius: 50px;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  h1 {
    font-family: 'Anton', sans-serif;
    font-size: 20px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
  }
  
  h3 {
    font-family: 'Lobster', cursive;
    font-size: 50px;
    padding-bottom: 20px;
  }
  
#home {
    position: absolute;
    top:0;
    left: 0;
    color: blue;
    font-family: 'Anton', sans-serif;
    font-size: 25px;
    background-color: white;
}
