/* Styling of navigation bar */
body {
  background: url("https://images.alphacoders.com/115/thumb-1920-1151871.png") no-repeat center center fixed; 
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
}

#navdiv{
    display:flex;
    width:17%;
    margin-left: 82%;
    justify-content: space-around;
    margin-top: 1%;
    height:35px;
  }
  .c{
    color: white;
  }
  nav svg{
    margin-top: 5px;
    width: 25px;
  }
  #googleimg{
    margin-top: 100px;
  }
  /* Removing underline from links*/
  a{
    margin-top: 8px;
    text-decoration: none;
  }
  button{
    border-radius: 3px;
    height:100%;
    padding:5px 12px;
    background-color: #4C87E1 ;
    color:white;
    border:none;
  }
  /* setting up size and border stle of search bar*/
  #maindiv{
  width:35%;
  border-radius: 50px;
  display: flex;
  height:40px;
  border:1px solid lightgrey;
  }
  #inputspan{
    width:80%;
  }
  span{
    vertical-align: top;
  }
  span:first-child{
    width:10%;
    border-radius: 50px;
    margin-top: 7px;
  }
  span:last-child{
    width:10%;
    border-radius: 50px;
    margin-top: 7px;
  }
  span img{
    width: 25px
  }
  input{
    height:100%;
    width:100%;
    border: none;
    padding:0px;
  }
  section{
    display: flex;
    margin-top: 2%;
    width:23%;
    justify-content: space-around;
    margin-bottom: 2%;
  }
  section button{
    padding:10px 12px;
    background-color: lightgrey;
    color:black;
  }
ul{
    text-align: left;
  }
  #Bottomdiv{
    display:flex;
    font-size: 12px;
    margin-top: 3%;
  }
  #Bottomdiv span{
    width:7%;
    margin-left: 31%;
  }
  /*When hovered*/
  a:hover{
    text-decoration: underline;
  }
  button:hover{
    border: 1px solid gray;
  }
  .googleSearch {
    /* background-color: #ffffff; */
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.main {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  height: 100%;
}
.googleSearch > form {
    background-color: #ffffff;
    min-height: 45px;
    min-width: 560px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    color: #6f7075;
}

form input[type=text] {
    height: 100%;
    border: none;
    margin: 0;
    padding: 0;
    width: 90%;
    border-radius: 0 25px 25px 0;
    font-size: 1rem;
}

#pt {
  list-style: none;
}

.ptli {
  color: black;
  /* padding: 100px; */
}

@media only screen and (max-width: 500px) {
  .searchBar > form {
      min-width: 75vw;
  }
}
